/* Responsividade pagina manutençao */

@media screen and (max-width: 385px) {
    form input {
        margin-top: 10px;
    }
    header h1 {
        font-size: 19px;
    }
    header img {
        margin-left: 7%;
    }
    .espacamento {
        margin-left: 35px;
    }
    #msg textarea {
        margin-top: 25px;
        margin-left: -35px;
        max-width: 230px;
    }
    select {
        margin-left: -10px;
    }
    .justify-center {
        margin: auto;
        margin-right: 25px;
    }
}